# --- Maven Output ---
target/

# --- IDEs and Text Editors ---
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/
.cursor/

# --- Operating System Junk ---
.DS_Store
Thumbs.db